@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: "Inter", "sans-serif";
}

@layer base {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f0f0f0;
  }
}
